__pycache__/genreFunctions.cpython-310.pyc
__pycache__/runtimeFunctions.cpython-310.pyc
Output.txt
__pycache__/yearFunctions.cpython-310.pyc
Functions/__pycache__/genreFunctions.cpython-310.pyc
Functions/__pycache__/outputFunctions.cpython-310.pyc
Functions/__pycache__/runtimeFunctions.cpython-310.pyc
Functions/__pycache__/yearFunctions.cpython-310.pyc
Functions/__pycache__/ratingFunctions.cpython-310.pyc
Functions/__pycache__/bannerFunctions.cpython-310.pyc
Functions/__pycache__/titleFunctions.cpython-310.pyc
images/
secondaryFunctions/__pycache__/bannerFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/genreFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/outputFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/pageScoreFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/ratingFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/runtimeFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/titleFunctions.cpython-310.pyc
secondaryFunctions/__pycache__/yearFunctions.cpython-310.pyc
primaryFunctions/__pycache__/getDataForMovies.cpython-310.pyc
Functions/__pycache__/pageScoreFunctions.cpython-310.pyc
primaryFunctions/__pycache__/getDataForAnime.cpython-310.pyc

